@using KanbanBoardBlazor.Shared

 
<EditForm Model="@issue" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="issue.Title" />


    @*<button type="submit">Submit</button>*@
</EditForm>

@code {
 
  [Parameter]
  public IssueDto issue { get; set; }
  [Parameter]
  public EventCallback<IssueDto> callback { get; set; }

  

  private void HandleValidSubmit()
  {

    callback.InvokeAsync(issue);

  }
}
