@using KanbanBoardBlazor.Shared

 
<EditForm Model="@issue" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="issue.title" />


    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public Issue issue { get; set; }
    [Parameter]
    public EventCallback<Issue> callback { get; set; }

    private void HandleValidSubmit()
    {
        
            callback.InvokeAsync(issue);
        
    }
}
