@*@using Microsoft.AspNetCore.Components.WebAssembly.Authentication*@
@inject NavigationManager Navigation
@inject CustomAuthStateProvider AuthenticationStateProvider

<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <button class="nav-link text-dark btn btn-link">
                    Hello, @context.User.Identity.Name!
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn btn-link" @onclick="BeginSignOut">
                    Logout
                </button>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await AuthenticationStateProvider.SetTokenAsync(null);
        //Navigation.NavigateTo("authentication/logout");
    }
}
