@page "/kanban"
@using KanbanBoardBlazor.Shared
@using Syncfusion.Blazor.Kanban
@using Syncfusion.Blazor.Data

<div class="col-lg-12 control-section" id="target">
    
    <button class="btn btn-light" @onclick="showAddCardDialog">Add New Card</button>
    @*<button class="btn btn-light" @onclick="updateCard">update Card</button>*@

    @if (project != null)
    {
    <SfKanban @ref="kanbanRef" TValue="Issue" KeyField="stageKey">
        <SfDataManager Json="project.issues"></SfDataManager>
        <KanbanColumns>
            @*@foreach (var stage in project.stages)
                {
                  <KanbanColumn HeaderText="@stage.title" KeyField="new List<string> { stage.key }"></KanbanColumn>
                }*@
            @foreach (var stage in project.stages.OrderBy(s => s.position))
            {
                <KanbanColumn HeaderText="@stage.title" KeyField="new List<string> { stage.stageKey }" AllowToggle="true"></KanbanColumn>
            }
        </KanbanColumns>
        <KanbanCardSettings HeaderField="issueId" ContentField="title">
            <Template>
                <Card issue="(Issue)context"></Card>
            </Template>
        </KanbanCardSettings>
        @*<KanbanEvents TValue="Issue" DialogOpen="@onDialogOpen" CardClick="@onCardClick"></KanbanEvents>*@
    </SfKanban>
    }


</div>